html(lang="en")
  head
    title About PulsePals - PulsePals
    style
        include ./assets/events.css
  body
    nav
      .container1
        h2 PulsePals
        ul
          li
            a(href="/") Home
          li
            a(href="#") About
          li
            a(href="#") Events
          li
            a(href="#") Partner Matching
          li
            a(href="/report") Safety and Reports
        .right1
          a(href="#") Sign In
          a(href="#", class="btn btn-primary") Register
    