doctype html
html(lang="en")
  head
    title Home - PulsePals
    style
      include ./assets/homepage.css
  body
    nav
      .container
        h2 Pulsepals
        ul
          li
            a(href="/") Home
          li
            a(href="/about") About
          li
            a(href="#") Events
          li
            a(href="#") Partner matching
          li
            a(href="/report") Safety and reports
        .right
          a(href="#") sign in
          a(href="#", class="btn btn-primary") register
    main
      .left
        .content
          h1 Stronger Together, One Pulse at a Time.
          .cta
            a(href="/about", class="btn btn-primary") Learn more !!
            a(href="#", class="btn") Meetups
      .right
        .outer-circle
          .inner-circle
          .person
            img(src="/images/GettyImages-1155448643.jpg", alt="person img")
    section#big-boxes
      .big-boxes__container
        .big-box
          img(src="/images/644bf64efcc0d60bf0759328_IMG_3685-1.jpeg", alt="Your Progress")
          a(href="#")
            h3 Your Progress
          p Track your fitness journey and see your achievements.
        .big-box
          img(src="/images/istockphoto-1319764741-612x612.jpg", alt="Referring a Friend")
          a(href="#")
            h3 Referring a Friend
          p Invite friends to join PulsePals and earn rewards.
        .big-box
          img(src="/images/feature-picture-7-1170x600.jpg", alt="Upcoming Meetups")
          a(href="#")
            h3 Upcoming Meetups
          p Explore curated workouts, routes, and tips.
        .big-box
          img(src="/images/Screen_Shot_2014-04-29_at_11.34.22_AM.jpg", alt="Popular Routes Near You")
          a(href="#")
            h3 Popular Routes Near You
          p Discover the best running and cycling routes in your area.
    section#testimonials
      h1 Testimonials
      p.lead See what our community has to say about PulsePals!
      .testimonials__container
        article.testimonial
          p "PulsePals helped me find the perfect running partner! I used to struggle with motivation, but now I have someone to push me every step of the way."
          .testimonial__client
            .avatar
              img(src="./images/avatar1.jpg")
            .testimonial__work
              p
                b Diana Ayi
              small Fitness Enthusiast
        article.testimonial
          p "As a beginner, I was nervous about starting my fitness journey. PulsePals connected me with an experienced partner who guided me through my first 5K!"
          .testimonial__client
            .avatar
              img(src="./images/avatar2.jpg")
            .testimonial__work
              p
                b Ernest Achiever
              small New Runner
        article.testimonial
          p "I love the PulsePals community! The meetups and challenges keep me accountable, and I've made some amazing friends along the way."
          .testimonial__client
            .avatar
              img(src="./images/avatar3.jpg")
            .testimonial__work
              p
                b Asamoah Gyan
              small Cyclist
        article.testimonial
          p "I struggled to stay consistent with my workouts until I joined PulsePals. Having a partner makes all the difference. Highly recommended!"
          .testimonial__client
            .avatar
              img(src="./images/avatar4.jpg")
            .testimonial__work
              p
                b Beatrice Aku
              small Gym Enthusiast
    footer
      .container
        div
          h3 PulsePals
          ul
            li
              a(href="/") Home
            li
              a(href="/about") About
            li
              a(href="#") Events
            li
              a(href="#") Partner Matching
            li
              a(href="/report") Safety and Reports
        div
          h3 Contact Us
          .contact-info
            p Email: info@pulsepals.com
            p Phone: +1 (123) 456-7890
            p Address: 123 Fitness St, Health City, HC 12345
        div
          h3 Follow Us
          ul
            li
              a(href="#") Facebook
            li
              a(href="#") Twitter
            li
              a(href="#") Instagram
            li
              a(href="#") Github 
        div
          h3 Legal
          ul
            li
              a(href="#") Privacy Policy
            li
              a(href="#") Terms of Service
            li
              a(href="#") Cookie Policy